html, body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	height: 100%; 	/* make footer stay at bottom of content or bottom of page, whichever comes last*/
}

h1 {
	text-align: center;
	font: arial;
	background-color: #4183D7;
	color: #ffffff;
	margin-top: 0%;
}

p {
	text-align: center;
	font: arial;
	font-size: medium;
	font-color: #000000;
	word-wrap: break-word;
}

#navcontainer ul
{
	margin-top: 0%;
	padding: 0;
	list-style-type: none;
	/* text-align: center; */
	background-color: #4183D7;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0%;
	font: arial;

}

#navcontainer ul li {
	display: inline;
	font: arial;
	height: 100%;
	width: 100%;
	
}

#navcontainer ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #ffffff;
	font: arial;
	height: 100%;
	width: 100%;

}

#navcontainer ul li a:hover
{
	color: #4183D7;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	font: arial;
	
	
}



#container{
	width: 100%;
	overflow: hidden;
}
#container .column {
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}
#left {
	width: 32%;
	float: left;
	margin: 10px;
}
#right {
	width: 65%;
	float: right;
	margin: 10px;
}
#footer {
  clear: both;
  background-color: #4183D7;
  position: relative;
  
}



@media screen and (max-width: 1000px) {
	/* applies only if the screen is narrower than 1000px */
	
	p
	{
		text-align: center;
		font: arial;
		font-size: large;
		word-wrap: break-word;		
	}
	
}
