html, body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	height: 100%; 	/* make footer stay at bottom of content or bottom of page, whichever comes last*/
}

h1 {
	text-align: center;
	font: arial;
	background-color: #4183D7;
	color: #ffffff;
	margin-top: 0%;
}

p {
	text-align: center;
	font: arial;
	font-size: medium;
	font-color: #000000;
	word-wrap: break-word;
}

#holder{		/* make footer stay at bottom of content or bottom of page, whichever comes last*/
    min-height: 100%;
    position: relative;
}

#logocontainer
{
	margin: 0;
	text-align: center;
	padding: 0;
	background-color: #4183D7;
	height: 100px;
	width: 100%;
}

#navcontainer ul
{
	margin-top: 0%;
	padding: 0;
	list-style-type: none;
	text-align: center;
	background-color: #4183D7;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0%;
	font: arial;

}

#navcontainer ul li {
	display: inline;
	font: arial;
	height: 100%;
	width: 100%;
	
}

#navcontainer ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #ffffff;
	font: arial;
	height: 100%;
	width: 100%;

}

#navcontainer ul li a:hover
{
	color: #4183D7;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	font: arial;
	
	
}

#body
{
	/*margin-left: 33%;
	margin-right: 33%;*/
	margin-bottom: 0%;
	margin-top: 0%;
	background-color: #ffffff;
	padding-bottom: 100px; /* #footer height */ 	/* make footer stay at bottom of content or bottom of page, whichever comes last*/	height: 100%;
	float: left;
}

#footer
{
	background-color: #4183D7;
	padding: 0;
	margin: 0;
	height: 100px;
	width: 100%;
	position: absolute;	/* make footer stay at bottom of content or bottom of page, whichever comes last*/
	bottom: 0;	/* make footer stay at bottom of content or bottom of page, whichever comes last*/
}

.wrap {
	margin: 0%;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
	/* applies only if the screen is narrower than 500px */
	#body
	{
		margin-left: 0%;
		margin-right:0%;
		height: 100%;
	}
	
	p
	{
		text-align: center;
		font: arial;
		font-size: large;
		word-wrap: break-word;		
	}
	
	.centeredImage {
		 text-align:center;
		 margin-top:0px;
		 margin-bottom:0px;
		 padding:0px;
		 max-width: 100%;
	}
	
}
