html, body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	height: 100%; 	/* make footer stay at bottom of content or bottom of page, whichever comes last*/
}

h1 {
	text-align: center;
	font: arial;
	background-color: #4183D7;
	color: #ffffff;
	margin-top: 0%;
}

p {
	text-align: center;
	font: arial;
	font-size: medium;
	font-color: #000000;
	word-wrap: break-word;
}

#header {
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #4183D7;
}
#logocontainer {
	float: left;
	height: 100px;
	width: 500px;
}
#navcontainer {
	float: right;
	height: 100px;
	vertical-align: middle;
}
#navcontainer ul
{
	margin-top: 0%;
	padding: 0;
	list-style-type: none;
	background-color: #4183D7;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0%;
	font: arial;
	vertical-align: middle;
}
#navcontainer ul li {
	display: inline;
	font: arial;
	height: 100%;
	width: 100%;
}
#navcontainer ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #ffffff;
	font: arial;
	height: 100%;
	width: 100%;
}

#navcontainer ul li a:hover
{
	color: #4183D7;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	font: arial;
}

#container{
	width: 100%;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
}
#container .column {
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
 
}
#left {
	width: 650px;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 0px; /* taken care of by footer*/
	padding-top: 0px; /* taken care of by header*/
	float: left;
	margin: 0px;
	border-width: 0px;
	text-align: center;

}
#right {
	width: 650px;
	padding-right: 10px;
	padding-left: 5px;
	padding-bottom: 0px; /* taken care of by footer*/
	padding-top: 0px; /* taken care of by header*/
	float: right;
	margin: 0px;
	border-width: 0px;
	text-align: center;
}
#footer {
  clear: both;
  background-color: #4183D7;
  position: relative;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}



@media screen and (max-width: 1350px) {
	/* applies only if the screen is narrower than 900px */
	
	p
	{
		text-align: center;
		font: arial;
		font-size: large;
		word-wrap: break-word;		
	}
	
	#left {
		width: 100%px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 0px; /* taken care of by footer*/
		padding-top: 0px; /* taken care of by header*/
		float: none;
		margin: 0px;
		border-width: 0px;
		text-align: center;
	}
	#right {
		width: 100%px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 0px; /* taken care of by footer*/
		padding-top: 0px; /* taken care of by header*/
		float: none;
		margin: 0px;
		border-width: 0px;
		text-align: center;
	}
	
}
